@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
* {
  margin: 0;
  padding: 0; }

.sec1,
.sec2,
.sec3 {
  height: 100%;
  width: 100%;
  position: absolute;
  background: white; }

.sec1 {
  z-index: 4; }

.sec2 {
  z-index: 3; }

.sec3 {
  z-index: 2; }

.sec4 {
  z-index: 1;
  position: absolute;
  background: white; }

.row {
  height: 100px;
  -webkit-box-shadow: 0px -5px 10px #000;
  box-shadow: 0px -5px 10px #000; }

.container-click {
  padding: 0 24px; }

.white-block {
  background: white; }

#click-button3 button {
  width: 310px;
  padding: 8px 0;
  background: #34c46c;
  border: none;
  border-radius: 3px;
  margin: 0 auto;
  color: #fff;
  margin: 0 24px;
  font-family: roboto; }

.cap {
  height: 240px;
  background: url("../image/transfer-fon.jpg") no-repeat left center;
  background-size: cover;
  position: relative;
  z-index: 100; }

.cap-black {
  width: 100%;
  height: 240px;
  position: absolute;
  top: 0; }

.exit {
  width: 63px;
  height: 63px;
  float: left;
  margin-left: 4px; }

.arrow-left {
  background: url("../image/arrow-left.png") no-repeat;
  height: 18px;
  width: 18px;
  background-size: cover;
  margin: 15px; }

.arrow-left-1 {
  background: url("../image/arrow-left-1.jpg") no-repeat;
  height: 18px;
  width: 18px;
  background-size: cover;
  margin: 15px 15px; }

.perevod {
  color: #33c567;
  font-size: 17px;
  font-family: roboto;
  margin-left: 7px; }

.transfer {
  padding: 14px 0;
  float: left; }

.transfer-text {
  color: #fff;
  font-size: 18px;
  font-family: roboto;
  font-weight: 500; }

.center-panel {
  background: url(../image/center-panel.jpg);
  height: 48px;
  background-size: cover;
  margin-top: -2px;
  margin-right: 12px; }

.phone-image {
  background: url(../image/phone-icon.png);
  height: 17px;
  width: 17px;
  margin: 15px 40px 0 30px;
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  background-size: cover;
  float: left; }

.phone-number-1 {
  color: #1dad55;
  font-size: 11px;
  font-family: roboto;
  margin-top: 15px; }

.transfer-phone {
  width: 160px;
  float: left; }

.phone-1 {
  width: 160px;
  outline: none;
  border: none;
  border-bottom: solid 1.5px #1dad55;
  float: left;
  padding-bottom: 3px;
  font-size: 15px;
  margin-top: 7px; }

#click-button1 {
  padding: 10px 10px 7px 10px;
  border-radius: 50%;
  background: #0ca553;
  float: left;
  margin: -7px 0 0 45px; }

.button1 {
  width: 17px;
  height: 17px;
  border: none;
  background: url(../image/arrow-left.png);
  background-size: cover;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.button2 {
  background: url(../image/arrow-left-1.jpg);
  width: 17px;
  height: 17px;
  border: none;
  background-size: cover;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

#click-button2 {
  padding: 11px 10px 6px 11px;
  border-radius: 50%;
  background: #fff;
  float: left;
  margin: 17px 0 0 20px; }

#place_1,
#place_2 {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-family: roboto; }

#place_1 {
  width: 250px;
  font-size: 14px;
  margin-bottom: 14px;
  text-transform: uppercase; }

#place_2 {
  width: 250px;
  font-size: 32px; }

.nomey-row {
  padding: 10px 10px 2px 10px;
  background: #34c46c;
  height: 110px;
  -webkit-box-shadow: 0px -5px 10px #000;
  box-shadow: 0px -5px 10px #000; }

.arrow-left-2 {
  background: url(../image/arrow-left.png);
  height: 18px;
  width: 18px;
  background-size: cover;
  float: left;
  margin: 4px; }

.content-image {
  background: url("../image/content-image.jpg") no-repeat;
  background-size: cover;
  height: 261px;
  margin-top: 2px; }

#money-number {
  color: #fff;
  font-size: 18px;
  font-family: roboto;
  margin-left: 50px;
  margin-top: 3px; }

.money {
  color: #fff;
  font-size: 10px;
  font-family: roboto;
  font-weight: 100;
  margin: 13px 0 0 52px; }

#money-phone {
  border: none;
  outline: none;
  background: #34c46c;
  border-bottom: solid 2px #fff;
  padding-bottom: 2px;
  color: #fff;
  font-size: 30px;
  padding: 5px 0;
  width: 230px;
  margin-left: 50px;
  font-family: roboto;
  float: left;
  margin-top: 10px; }

#operation {
  background: url("../image/operation.jpg") no-repeat;
  background-size: cover;
  height: 58px;
  margin-top: -0.5px; }

.operation-image {
  background: url("../image/operation-image.jpg") no-repeat;
  background-size: cover;
  height: 50px;
  margin-top: -10px;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-family: roboto;
  font-size: 13px; }

.container {
  position: absolute;
  top: -285px;
  padding: 0 72px; }

.top-text {
  color: #777;
  font-size: 12px;
  margin-bottom: 5px; }

.masterMass {
  color: #34c46c;
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 30px; }

.bottom-text {
  color: #000;
  font-size: 13.7px;
  margin-bottom: 37.5px; }

.fio-name {
  text-transform: uppercase; }

.date-number {
  margin-bottom: 35px; }

.cart-number {
  margin-bottom: 35px; }

.masterMass {
  margin-bottom: 35px; }

footer {
  background: url("../image/footer.jpg") no-repeat;
  background-size: cover;
  height: 72px;
  margin-top: 30px;
  z-index: 200;
  position: relative; }

.header,
.header-1 {
  width: 360px;
  height: 50px;
  z-index: 50;
  padding-top: 2px;
  margin-bottom: 2px; }

.headhesive {
  width: 100%;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  position: fixed;
  z-index: 100; }

.headhesive--stick {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  background: #0da653;
  z-index: 150;
  position: fixed; }

.content {
  z-index: 200;
  position: relative;
  height: 424px; }

.form-int {
  margin: 10px auto;
  width: 300px;
  border: solid 1px #0da653;
  border-radius: 10px;
  float: center;
  padding: 5px; }
  .form-int input {
    width: 100%;
    outline: none;
    border: none; }
